-e git+https://github.com/kivy/buildozer@3a93783aa8cbfb0605e4b46f977f8c9951c1a043#egg=buildozer
certifi==2017.11.5
chardet==3.0.4
click==6.7
docutils==0.14
docx==0.2.4
ez-setup==0.9
Flask==0.12.2
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
Kivy==1.10.0
Kivy-Garden==0.1.4
kivy.deps.angle==0.1.6
kivy.deps.glew==0.1.9
kivy.deps.gstreamer==0.1.12
kivy.deps.sdl2==0.1.17
lxml==4.1.0
MarkupSafe==1.0
olefile==0.44
pexpect==4.3.0
Pillow==4.3.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pymessenger==0.0.7.0
pynput==1.3.7
pypiwin32==220
python-docx==0.8.6
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
Werkzeug==0.13
wit==4.3.0
